* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-page {
  height: auto;
  background-image: url("./images/hero-1.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header_info_left {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding-left: 0;
    :nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: #fff;
      .phone {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    :nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: #fff;
      .email {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
.header_info_right {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    :nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: #fff;
      .comment {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    :nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      color: #fff;
      .user {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
.mobile-navbar {
  display: none;
  justify-content: space-between;
  padding: 30px 50px;
  align-items: center;
  .bar-icon {
    border: 1px solid white;
    padding: 5px 10px;
    .fa-bars {
      color: #fff;
      font-size: 20px;
    }
  }
}
hr {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
}
.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 20px;

  li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.home-class {
  display: flex;
  flex-direction: column-reverse;
  background-color: #4c57d6;
  height: 10px;
}
.logo-2 {
  width: 180px;
  height: 35px;
}
.hero-text {
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  gap: 10px;
  flex-direction: column-reverse;
  padding-left: 80px;
  h5 {
    color: #ffff;
    font-weight: 500;
    font-size: 18px;
  }
  h2 {
    font-weight: 700;
    font-size: 36px;
    color: #ffff;
  }
  .primary-btn {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #4c57d6;
    font-size: 15px;
    color: #ffff;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 15px 30px;
    font-weight: 700;
    text-decoration: none;
    &:hover {
      background-color: #3e4bde;
      cursor: pointer;
    }
  }
}

.hero-right {
  padding-bottom: 70px;
  width: 100%;
  height: 100%;
}

.register-text {
  padding-top: 100px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
  h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
  }
  .search-box {
    position: relative;
    width: 100%;
    height: 54px;
    border: 2px solid #4c57d6;
    border-radius: 50px;
  }

  .search-button {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #4c57d6;
    font-size: 14px;
    font-weight: 700;
    border: none;
    color: #ffffff;
    width: 130px;
    height: 42px;
    border-radius: 50px;
    outline-style: none;
    &:hover {
      background-color: #3e4bde;
      cursor: pointer;
    }
  }
  input {
    display: flex;
    align-items: center;
    border: none;
    outline-style: none;
    background: none;
    font-size: 14px;
    color: #111111;
    padding-left: 20px;
    padding-top: 15px;
    &::placeholder {
      color: #111111;
    }
  }
  .search-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
.register-result ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  li {
    color: #4c57d6;
    font-weight: 700;
    font-size: 20px;
    span {
      color: #111111;
    }
  }
}
.second-page p {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 100px;
}
.third-page {
  height: auto;
  background-color: #eeeffb;
  padding-bottom: 100px;
}
.information-container {
  margin-top: 20px;
}
.solution {
  padding-top: 100px;
  padding-bottom: 40px;
  color: #111111;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 20px;
}
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.services__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color: #ffff;
  border-radius: 10px;
}
.services__item h5 {
  padding-left: 20px;
  color: #111111;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}
.services__item span {
  padding-left: 20px;
  font-size: 15px;
  color: #4c57d6;
  font-weight: 500;
}
.services__item p {
  padding-left: 20px;
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

.choose-plan {
  padding: 40px;
  width: 100%;
  height: 100%;
}
.plan-box {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.plan__text {
  flex-direction: column;
  h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 18px;
  }
  ul {
    list-style-type: none;

    li {
      font-size: 16px;
      line-height: 40px;
      font-weight: 500;
      span {
        color: #4c57d6;
      }
    }
  }
  a {
    font-size: 15px;
    padding: 14px 30px 12px;
    color: #fff;
    background-color: #4c57d6e3;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 20px;
    &:hover {
      background-color: #3e4bde;
      cursor: pointer;
    }
  }
}
.fifth-page {
  display: flex;
  margin-top: 50px;
  background-image: url("./images/achievement-bg.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.builder-page {
  padding: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
}
.work__item {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  i {
    font-size: 53px;
    color: #4c57d6;
  }
  span {
    font-size: 14px;
    color: #4c57d6;
    margin: 32px 0 6px 0;
  }
  h3 {
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
  p {
    font-size: 14px;
    color: #444444;
    font-weight: 400;
    text-align: center;
  }
  .primary-btn {
    padding: 14px 30px 12px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    border-radius: 50px;
    background: #4c57d6;
    text-decoration: none;
    &:hover {
      background-color: #3e4bde;
      cursor: pointer;
    }
  }
}

@media (max-width: 1000px) {
  .header_info_left,
  .header_info_right {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }
  .mobile-navbar {
    display: flex;
  }
  .nav_section {
    display: none;
  }
}
